$titleText: 'Bad Script',
cursive;
$mainText: 'Raleway',
sans-serif;
$secondaryText: 'Reenie Beanie',
cursive;
$color1: #eaa1c2; //light pink 
$color2: #b0e0e6; //light blue
$color3: #d2b2a0; //tan
$color4: #c75358; //dark pink
$color5: #04202f; //dark blue